body{

    font-family: "Montserrat extrabold";
    font-weight: 2000;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat extrabold";
    font-weight: 900;
}
p{
    color: gray;
}
h2{
    font-weight: bolder;
    line-height: 1.2;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}
.big-heading{
    font-family: "Montserrat bold";
    font-size: 3rem;
    line-height: 1.5;
}
    .press-image{
        padding: 4%;
        border-radius: 20%;
        width: 20%;
    }
    .carousel-item{
        padding:7% 10%;
    }
    .row{
        display: flex;
    }
    .container-fluid{
        padding: 5% 19% 8% ;
    }
    .navbar{
        padding-bottom: 5.5rem;
    }
    .navbar-brand{
        font-family: "Ubuntu";
        font-size: 2.5rem;
    }
    .nav-item{
        padding-left: 100px;
    }
    .nav-link{
        font-size: 1.6rem;
        font-weight: normal;
    }
    .download-button{
        margin: 3% 5% 3% 0;
    }
    .title{
        padding-right: 20px;
    }
    .title-image{
        width: 20%;
        transform: rotate(30deg);
        position: absolute;
        right: 350px;
    }
    .colored-section{
        background-color: #ff4c68;
        color: white;
    }
    .white-section{
        background-color: #fff;
    }
    .feature-text{
        font-size: 1.5rem;
    }
    .feature-box{
        text-align: center;
        padding: 7%;
    }
    
    .icon{
        padding: 10%;
        color: #ef8172;
    }
    .icon:hover{
        color: #ff4c68;
    }
    .ico{
        margin-right: 7px;
    }
    .pricing-column{
        padding: 2% 8%;

    }
    .price-text{
        font-size: 3rem;
        line-height: 1.5;
    }
    .card-body{
        padding: 2px 1px;
    }
    .cta-heading{
        font-family: "Montserrat bold";
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 1.5;
    }
    .testimonial-text{
        font-size: 3rem;
        line-height: 1.5;
        color: #fff;
    }
    .testimonial-image{
        border-radius: 100%;
        width: 10%;
    margin: 20px;
    }
    .footer-icon{
        margin: 20px;
        text-align: justify;
    }
    #navbarTogglerDemo02{
        margin-left: 132px;
        
    }
    #title{
        
         padding-bottom: 0px;
         text-align: left;
    }
    #features{
    padding:7% 15%;
    
    z-index: 1;
    position: relative;
    }
    
    #testimonials{
        background-color: #ef8172;
        
        /* text-align: center; */
    }
    
    
    #press{
        background-color: #ef8172;
        text-align: center;
        padding-bottom:4% ;
    }
    
    #pricing{
        padding: 30px;
        text-align: center;
        background-color: antiquewhite;
    }
    
    @media(max-width:1110px){
        #title{
            text-align: center;
        }
        .title-image{
            position:static;
            transform: rotate(0deg);
        }
    }
    #cta{
        padding: 7% 15%;
        text-align: center;
    }
    
    #footer{
        padding:7% 0;
        margin-left: 550px;
        text-align:center;
    }
    